$screen-width: 1194;
@function px-to-vw($value) {
  @return ($value * 100) / $screen-width + vw;
}

.ant-select {
  color: rgb(255, 255, 255);
  font-size: px-to-vw(14);
  &:not(.ant-select-customize-input) {
    .ant-select-selector {
      background-color: #1f1d2b;
      border: px-to-vw(1) solid #393c49;
      box-sizing: border-box;
      border-radius: px-to-vw(8);
      padding: px-to-vw(14);
      .ant-select-selection-item {
        line-height: 1.4;
        text-transform: capitalize;
      }
    }
  }
  &:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #393c49;
    border-right-width: px-to-vw(1) !important;
  }
  &-focused:not(.ant-select-customize-input).ant-select:not(.ant-select-disabled)
    .ant-select-selector {
    border-color: #393c49;
    box-shadow: none;
  }
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: px-to-vw(48);
  width: px-to-vw(110);
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 0;
  padding-left: px-to-vw(20);
}
.ant-select-arrow {
  right: auto;
  left: px-to-vw(11);
  width: px-to-vw(20);
  height: px-to-vw(20);
  margin-top: 0;
  transform: translateY(-45%);
  svg {
    width: 100%;
    height: 100%;
  }
}
.ant-select-dropdown {
  color: #fff;
  line-height: 1.5715;
  z-index: 1050;
  padding: px-to-vw(4) 0;
  font-size: px-to-vw(13);
  background-color: #1f1d2b;
  border: px-to-vw(1) solid #393c49;
  border-radius: px-to-vw(8);
  width: fit-content !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #fff;
  background-color: #171620;
}
.ant-select-item-option:hover {
  color: #fff;
  background-color: #14141d !important;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #1e1c29;
}
.ant-select-item {
  min-height: px-to-vw(32);
  padding: px-to-vw(5) px-to-vw(12);
  color: #fff;
  font-weight: normal;
  font-size: px-to-vw(14);
  line-height: px-to-vw(22);
  text-transform: capitalize;
}
.ant-message {
  font-size: px-to-vw(16);
  top: px-to-vw(8);
}
.ant-message .anticon {
  top: 0;
  margin-right: px-to-vw(8);
  font-size: px-to-vw(18);
}
.ant-message-notice-content,
.ant-notification-notice {
  padding: px-to-vw(10) px-to-vw(16);
  background: #171620;
  border-radius: px-to-vw(2);
  max-width: 90%;
  color: #fff;
  * {
    color: #fff;
  }
  text-align: justify;
}
.ant-notification-notice-closable .ant-notification-notice-message {
    padding-right: 32px;
}
.ant-message-error,
.ant-notification-notice-icon-error {
  svg path {
    fill: #ff4d4f;
  }
}
.ant-message-success,
.ant-notification-notice-icon-success {
  svg path {
    fill: #7fff4d;
  }
}
.ant-drawer-content {
  background: #1f1d2b;
  border-radius: px-to-vw(8) 0 0 px-to-vw(8);
}
.ant-drawer-body {
  background: #1f1d2b;
  border-radius: px-to-vw(8) 0 0 px-to-vw(8);
  padding: px-to-vw(24);
  display: flex;
  flex-direction: column;
}

.ant-picker {
  display: block;
  padding: px-to-vw(14);
  background: #2d303e;
  border: px-to-vw(1) solid #393c49;
  border-radius: px-to-vw(8);
  font-weight: 500;
  font-size: px-to-vw(16);
  line-height: 140%;
  color: #fff;
  box-shadow: none !important;
  .ant-picker-suffix {
    display: none;
  }
}
.ant-picker:hover,
.ant-picker-focused {
  border-color: #393c49;
}
.ant-picker-input > input {
  padding: 0;
  color: #fff;
  font-size: px-to-vw(14);
  line-height: 140%;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: none;
  letter-spacing: 0.03em;
}
.ant-picker-panel-container {
  overflow: hidden;
  vertical-align: top;
  background: #2d303e;
  border-radius: px-to-vw(8);
  * {
    color: #fff !important;
  }
  .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner::before {
    border: none;
    background-color: transparent;
  }
}
.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
.ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
  .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: rgba(255, 255, 255, 0.1);
}
.ant-picker-panel {
  border: none;
}
.ant-picker-header {
  border-bottom: px-to-vw(1) solid #9c9cab;
}
.ant-select.filter-button{
 .ant-select-selector{
   width: fit-content;
   display: flex;
   align-items: center;
 }
}
